<div id="page">
  <div id="side-nav" >
    <button class="nav-link" [class.active]="sidePanel() == 'notes'" (click)="onClickNav('notes')">
      <i class="ri-folder-6-line"></i>
    </button>
    <button class="nav-link" [class.active]="sidePanel() == 'templates'" (click)="onClickNav('templates')">
      <i class="ri-file-copy-2-line"></i>
    </button>
    <button class="nav-link" [class.active]="sidePanel() == 'views'" (click)="onClickNav('views')">
      <i class="ri-table-view"></i>
    </button>
  </div>
  <div id="body">
    <div id="side-panel" [style.width.px]="sideNavWidth">
      @if(sidePanel() == 'notes') {
        <app-notes-panel/>
      }
      @if(sidePanel() == 'templates') {
        <app-templates-panel/>
      }
      @if(sidePanel() == 'views') {
        <app-views-panel/>
      }
    </div>
    <div class="resize-handle" 
      cdkDrag
      cdkDragLockAxis="x"
      [cdkDragFreeDragPosition]="{x: 0, y: 0}"
      (cdkDragMoved)="onResize($event)"
      (cdkDragEnded)="onResizeEnd($event)"
    ></div>
    <div id="main-panel">
      <div id="header">
        <app-tab-header/>
      </div>
      <div id="content">
          <ng-content></ng-content>
      </div>
    </div>
  </div>

    <app-add-link-modal/>
</div>
