@import '../../../utils.less';

#page {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: row;
}


#body {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

#action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:end;
  padding: 8px 16px;
  background-color: @green-01;

  i {
    color: @grey-05;
    font-size: 24px;

    &:hover {
      cursor: pointer;
      color: @grey-04;
    } 
  }
}

#side-nav {
  background-color: @green-01;
  padding: 64px 0px;
}

#side-panel {
  padding: 16px;
}

.nav-link {
  display: block;
  width: 100%;
  color: @grey-05;
  background-color: @green-01;
  border:none;
  text-decoration: none;
  text-align: left;
  padding: 8px 32px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: @green-02;
  }

  &.active {
    background-color: @green-02;
  }
}


app-notes-panel{
  width: 200px;

  display: flex;
  flex-direction: column;
}

app-templates-panel{
  width: 200px;

  display: flex;
  flex-direction: column;
}


#content {
  flex-grow: 1;

  display: flex;
  flex-direction: row;

  background-color: @grey-05;
}
