<app-layout-main>
  <app-notes-panel/>
  <section class="note-editor">
    @if (currentNote(); as note) {
      <h3 class="section-title">{{ note.name }}</h3>
      <span class="section-subtitle">{{ note.template }}</span>

      <div class="note-fields-container">
        @for (field of note.fields; track field.name) {
          <label>{{ field.name }}</label>
          <input [value]="field.value" (change)="onFieldChange($index, $event)"/>
        }
      </div>
      <hr/>
      <app-text-editor/>
    }
    @else {
      <h3 id="note-title">No note selected</h3>
    }
  </section>
</app-layout-main>