<app-layout-main>
  <app-notes-panel/>
  <section class="note-editor">
    @if (currentNote(); as note) {
      <div class="section-header">
        <input #notetitle class="app-editable-header" [value]="note.name" (change)="onChangeTitle($event)"/>
        <i class="app-clickable-icon ri-delete-bin-line" (click)="onClickDeleteNote()"></i>
      </div>
      <span class="section-subtitle">{{ currentTemplate()?.name ?? 'Unknown' }}</span>

      <div class="note-fields-container">
        @for (field of note.fields; track field.name) {
          <label class="app-label">{{ field.name }}</label>
          <input class="app-input" [value]="field.value" (change)="onFieldChange($index, $event)"/>
        }
      </div>
      <hr/>
      <app-note-text-editor/>
    }
    @else {
      <h3 id="note-title">No note selected</h3>
    }
  </section>
</app-layout-main>