@import '../../../utils.less';

h3 {
  margin-bottom: 8px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 8px 0px;
}

#new-view-btn {
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 100%;
  color: @grey-04;
  border: none;
  border-top: @grey-04 1px solid;
  margin-bottom: 16px;
}

#view-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-list-item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}