<div class="row">
    <h3>Views</h3>
</div>
<div id="view-list">
    @for (view of viewsStore.views(); track view.id) {
        <!-- <button class="app-list-item" [class.active]="view.id == currentViewId()" (click)="onClickView(view)">{{ view.name }}</button> -->
        <button class="view-list-item" (click)="onClickView(view)">{{ view.name }}</button>
    }

    @if (viewsStore.views().length === 0) {
        <div class="no-views">No views</div>
    }
</div>
<button class="app-btn-primary new-view-btn" (click)="onClickNewView()">New View (Ctrl + T)</button>