 <table class="dynamic-table">
  <thead>
    <tr>
      @for (column of columns(); track column) {
        <th>{{ column }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of data(); track $index) {
      <tr>
        @for (column of columns(); track column) {

          @if(isLink(row, column)) {
            <td><button class="note-link" (click)="onClickLink(row, column)">{{linkName(row, column)}}</button></td>
          }
          @else {
            <td>{{ getValue(row, column) }}</td>
          }
        }
      </tr>
    }
  </tbody>
</table>