.note-panel {
    height: 100%;
    display: flex;
    flex-direction: column;

}
.section-header {
  display: flex;

  i {
    margin-left: auto;
  }
}

.app-editable-header {
  max-width: 500px;
}


.section-title {
  margin-bottom: 8px;
}

.section-subtitle{
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
}

.note-fields-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  row-gap: 8px;
  column-gap: 8px;
  align-items: center;
}

app-note-text-editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}