<div class="view-panel">
    @if (currentView(); as view) {
        <div class="section-header">
            <input #viewtitle class="app-editable-header" [value]="view.name" (change)="onChangeTitle($event)"/>
            <i class="app-clickable-icon ri-delete-bin-line" (click)="onClickDeleteView()"></i>
        </div>

        <label class="app-label">SQL Query</label>
        <div class="sql-editor-container">
             <textarea class="app-textarea" [value]="view.sql.trim()" (change)="onChangeSQL($event)"></textarea>
        </div>

        <hr/>

        <label class="app-label">SQL Output</label>
        <div class="sql-results-container">
            @if (sqlResults().error) {
                <div class="app-error-message">
                    <pre>{{ sqlResults().error }}</pre>
                </div>
            } @else if (sqlResults().data.length === 0) {
                <div class="app-info-message">
                    No rows returned.
                </div>
            } @else {
                <app-view-table [data]="sqlResults().data" ></app-view-table> 
            }
        </div>

    }
</div>