<div class="view-panel">
    @if (currentView(); as view) {
        <div class="section-header">
            <input #viewtitle class="app-editable-header" [value]="view.name" (change)="onChangeTitle($event)"/>
            <i class="app-clickable-icon ri-delete-bin-line" (click)="onClickDeleteView()"></i>
        </div>

        <label class="app-label">SQL Query</label>
        <div class="sql-editor-container">
            <!-- <app-sql-editor [viewId]="view.id"></app-sql-editor> -->
             <textarea class="app-textarea" [value]="view.sql.trim()" (change)="onChangeSQL($event)"></textarea>
        </div>

        <hr/>

        <label class="app-label">SQL Output</label>
        <div class="sql-results-container">
            <app-view-table [data]="sqlResults()" ></app-view-table> 
        </div>

    }
</div>