<div class="row">
    <h3>Notes</h3>
</div>
<div class="row">
    <input class="app-input search" placeholder="Search" [value]="searchInput()" (input)="onChangeSearch($event)"/>
</div>
<div class="row">
    <!-- <label class="app-label" id="note-template-label" for="">Template</label> -->
    <select class="app-select template-select" [value]="templateSelect()" (change)="onChangeTemplateSelect($event)">
        <option [value]="-1">All Templates</option>
        @for (template of templatesStore.templates(); track template.id) {
            <option [value]="template.id">{{ template.name }}</option>
        }
    </select>
</div>

@if (notesStore.notes().length > 0) {
    <ul class="note-list">
        @for (note of visibleNotes(); track note.id) {
            <button class="note-list-item" (click)="onClickNote(note)">
                {{ note.name }} 
                <span class="note-type">
                    {{ note.templateName }}
                </span>
        </button>
        }
    </ul>
}

@if (notesStore.notes().length === 0) {
    <div class="note-list-item-empty">No notes</div>
}

<button id="new-note-btn" class="app-btn-primary" (click)="onClickNewNote()">New Note (Ctrl + N)</button>