<div class="row">
    <h3>Notes</h3>
</div>
<div class="row">
    <input class="app-input" id="search-notes" placeholder="Search" [value]="searchInput()" (input)="onChangeSearch($event)"/>
</div>
<div class="row">
    <label class="app-label" id="note-template-label" for="">Template</label>
    <select class="app-select" id="note-template-select" [value]="templateSelect()" (change)="onChangeTemplateSelect($event)">
        <option [value]="-1">All Templates</option>
        @for (template of templatesStore.templates(); track template.id) {
            <option [value]="template.id">{{ template.name }}</option>
        }
    </select>
</div>
<hr/>
@if (notesStore.notes().length > 0) {
    <ul id="note-list">
        @for (note of visibleNotes(); track note.id) {
            <button class="app-list-item" [class.active]="note.id == currentNoteId()" (click)="onClickNote(note)">{{ note.name }}</button>
        }
    </ul>
    <hr/>
}
<button id="new-note-btn" class="app-btn-primary" (click)="onClickNewNote()">New Note (Ctrl + N)</button>