@import '../../../utils.less';

app-notes-panel{
  min-width: 200px;

  display: flex;
  flex-direction: column;

  padding: 16px;
  border-right: @grey-04 1px solid;
}

section.new-note {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;

  color: @grey-01;
  background-color: @grey-05;
  padding: 8px 16px;
    font-size: 14px;
  }

.section-title {
  margin-top: 16px;
  margin-bottom: 8px;
}

.template-search-container {
  display: flex;
}

.template-search {
  flex-grow: 1;
}

.template-list {
  margin-bottom: 16px;
}

.list-item {
  width: 100%;
}

.btn-container {
  display:flex;
  justify-content: flex-end;
}


.btn-primary {
  margin-left: 8px;
}